:root {
  --black: #2E2E2E;
  --white: #E8E8E8;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: var( --black );
  border: 5px solid var(--black);
}

#title {
  font-size: 4rem;
  text-align: center;
  max-width: 80%;
}

.share {
  position: absolute;
  bottom: 15px;
  padding: 10px 20px;
  border: solid var( --black ) 1px;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: bold;
  transition-duration: .1s;
  background-color: white;
  font-size: 0.8rem;
  color: var( --black );

  &:hover {
    background-color:  rgb(224, 224, 224);
  }

  &:active {
    transform: scale(0.95);
  }
}